html
    head
        title=title 
    body 
        h1=message
        <form action="localhost:8080" method='POST' id='container'>
        input(type="text" name='nome' value=' ' placeholder='Inserisci qui il nome')
        br
        input(type="text" name='cognome' value=' ' placeholder='Inserisci qui il cognome')
        br
        input(type="submit", value="INVIA")
        </form>
        br
        h2=nome