html
    head
        title=title 
    body 
        h1=message
        form(action="localhost:8080" method='POST')  
        input(type="text" name='nome' value=' ' placeholder='Inserisci qui il nome')
        p | 
        input(type="text" name='cognome' value=' ' placeholder='Inserisci qui il cognome')
        p | 
        input(type="submit", value="INVIA")
        
        br
        h2=nome