<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Ciao, sono <%=user.firstname %> <%=user.lastname %></h1>
        <% if(user.lastname=='Gnz') {%>
        <h2>cognome è Gnz</h2>
        <%}%>
    </body>
</html>
