<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Ciao, sono <%=utente.nome %> <%=utente.cognome %></h1>
        <% if(utente.cognome!='gnz') {%>
        <h2>cognome non è gnz
        </h2>
        <%}%>
    </body>
</html>